/* .grid{
    display: grid;
    align-items: center;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    justify-content: center; 
    align-items: center; 
}
.header{
    grid-column: span 3;
    background-color: green;
    text-align: center;
    height: 100%;
}
.sidebar{
    grid-row: span 2;
     background-color: green; 
    height: 100%;
}
.c1{
    grid-column: span 2;
    background-color: green;
    height: 100%;
}
.footer{
    grid-column: span 3;
    background-color: green;
    height: 100%;
}

.c2,.c3{
    background-color: green;
    height: 100%;
} */


.grid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
    "h h h"
    "s c1 c1"
    "s c2 c3"
    "f f f";
    gap: 10px;
}
.header{
    grid-area: h;
    background-color: green;
    display: grid;
    justify-content: center;
    align-items: center;
}
.sidebar{
    grid-area: s;
    background-color: green;
    display: grid;
    justify-content: center;
    align-items: center;
}
.c2{
    grid-area: c2;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.c1{
    grid-area: c1;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.c3{
    grid-area: c3;
    background-color: green;
    display: grid;
    justify-content: center;
    align-items: center;
}
.footer{
    grid-area: f;
    background-color: green;
    display: grid;
    justify-content: center;
    align-items: center;
}