*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 100%;
    height: 8vh;
    background-color: paleturquoise;
}
.Navlinks{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    
    
}
.Navlink{
    margin: 0px 15px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.heroSection{
    height: 100vh;
    position: relative;
    margin-top: 8vh;

}
.heroSection:hover{
    background-size: cover
}
.heading{
    font-size: 1.8em;
    font-weight: 800;
    position: absolute;
    top: 300px;
    left: 650px;
}
.box{
    background-color: rebeccapurple;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 100px;
}
.box1{
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    right:50px;
    bottom: 50px;
}
.box2{
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    right:100px;
    bottom: 150px;
}
.box3{
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    right:150px;
    bottom: 50px;
}