.boxes{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-items: flex-start;

}
.box{
    background-color: red;
    width: 300px;
    height: 300px;
}
.box3{
    /* flex-shrink: 0;
    background-color: aqua; */
    /* flex-basis: 500px; */
    flex-grow: 3;
}